.mainForm {

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		
		@media screen and (min-width: 768px){
			padding: 16px 25px;
			background: linear-gradient(180deg, #8051A1 0%, #5A2B7C 100%);
			border-radius: 21px;
		}
		@media screen and (min-width: 1024px){
			padding: 22px 30px;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 606px;
			height: 117px;
		}
		@media screen and (min-width: 1200px){
			width: auto;
			height: auto;
			padding: 17px 30px;
		}
		@media screen and (min-width: 1600px){
			padding: 22px 30px 22px 50px;
		}
	}

	&__title  {
		font-size: 22px;
		line-height: 27px;
		font-weight: 700;
		text-align: center;
		color: #FFFFFF;
		margin: 0 0 20px 0;
		width: 50%;
		@media screen and (min-width: 768px){
			width: auto;
			margin: 0 0 15px;
		}
		@media screen and (min-width: 1024px){
			width: 132px;
			text-align: left;
			margin: 0;
		}
		@media screen and (min-width: 1200px){
			margin: 0 20px 0 0;
			font-size: 16px;
			text-align: center;
			width: 100px;
			line-height: 17px;
		}
		@media screen and (min-width: 1600px){
			margin: 0 40px 0 0;
		}
	}

	&__input {
		width: 248px;
		height: 40px;
		background: #FFFFFF;
		box-shadow: 0px 4px 24px rgba(77, 77, 77, 0.4);
		border-radius: 12px;
		font-size: 14px;
		color: #0D1B39;
		padding: 9px 10px 9px 13px;
		margin: 0 0 13px 0;
		&::placeholder {
			font-size: 14px;
			color: #0D1B39;
			@media screen and (min-width: 1600px) {
				font-size: 16px;
			}
		}
		@media screen and (min-width: 768px) {
			margin: 0 0 10px 0;
		}
		@media screen and (min-width: 1024px) {
			height: 31px;
			width: 211px;
			margin: 0;
			position: absolute;
			top: 22px;
			left: 50%;
			transform: translateX(-50%);
		}
		@media screen and (min-width: 1200px) {
			margin: 0 20px 0 0;
			position: relative;
			top: auto;
			left: auto;
			transform: translateX(0);
			width: 160px;
		}
		@media screen and (min-width: 1650px) {
			width: 200px;
			height: 48px;
			padding: 9px 10px 9px 30px;
			font-size: 16px;
			border-radius: 21px;
		}
		@media screen and (min-width: 1870px) {
			width: 249px;
		}

		&:nth-of-type(2) {
			@media screen and (min-width: 1024px) {
				bottom: 22px;
				top: auto;
			}
			@media screen and (min-width: 1200px){
				bottom: auto;
			}
		}
	}

	&__btn {
		width: 142px;
		height: 38px;
		font-size: 14px;
		text-align: center;
		padding: 12px 10px;
		margin: 15px 0 0 0;
		@media screen and (min-width: 768px) {
			margin: 0;
		}
		@media screen and (min-width: 1200px) {
			margin: 0 0 0 10px;
		}
		@media screen and (min-width: 1600px) {
			margin: 0 0 0 35px;
			width: 218px;
			height: 48px;
		}
	}
}