.mask {
	position: fixed;
	z-index: 30;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .4);
	display: none;

	&.active {
		display: block;
	}
}

.modal {
	position: fixed;
	z-index: 35;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	
	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 16px;
		background: linear-gradient(180deg, #8051A1 0%, #5A2B7C 100%);
		width: 100%;
		@media screen and (min-width: 768px) {
			max-width: 333px;
			// height: 174px;
			border-radius: 16px;
		}
		@media screen and (min-width: 1600px) {
			max-width: 450px;
			min-height: 235px;
		}
	}
	&__layer {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000000;
		opacity: 0.7;
		z-index: -1;
	}
	&__close {
		position: absolute;
		right: 15px;
		top: 15px;
	}

	p {
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		text-align: center;
		color: #FFFFFF;
		text-shadow: 0px 13.4754px 39.6336px rgba(0, 0, 0, 0.05);
	}

	&.active {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__click {
		.modal__wrapper {
			height: auto;
			padding: 40px 15px;
			text-align: center;
			max-width: 480px;
			width: 100%;
		}

		h2 {
			font-size: 22px;
			color: #FFFFFF;
			margin-bottom: 1em;
		}

		&-wrapper {
			max-width: 300px;
			width: 100%;
		}

		.mainForm__input {
			width: 100%;
			margin-bottom: 12px;
			margin-right: 0;
			position: static;
    		transform: none;
		}

		.mainForm__textarea {
			height: 80px;
			resize: none;
		}

		.mainForm__btn {
			margin-left: 0;
		}
	}
}