.main-btn {
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	width: 240px;
	height: 49px;
	background-color: #62A4D8;
	box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.7);
	border-radius: 21px;
	padding: 17px 10px;
	transition: all .3s ease;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.25);
		border-radius: 21px;
		transition: all .3s ease;
		opacity: 0;
	}

	&:hover {
		transition: all .3s ease;
		box-shadow: none;
		&:after {
			opacity: 1;
		}
	}

	@media screen and (min-width: 1024px) {
		
	}

	@media screen and (min-width: 1500px) {
		
	}
}