.typography {

	h2 {
		font-weight: 700;
		font-size: 34px;
		color: #FFFFFF;
		margin-bottom: 15px;
		@media screen and (min-width: 768px){
			font-size: 60px;
			margin-bottom: 30px;
			text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
		}
		@media screen and (min-width: 1200px){
			font-size: 46px;
			line-height: 56px;
		}
		@media screen and (min-width: 1600px){
			font-size: 60px;
			line-height: 73px;
		}
		@media screen and (min-width: 1920px){
			font-size: 80px;
			line-height: 98px;
		}
	}

	h3 {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		color: #FFFFFF;
		@media screen and (min-width: 768px){
			font-size: 24px;
			text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
		}
		@media screen and (min-width: 1024px){
			font-size: 24px;
			line-height: 29px;
		}
		@media screen and (min-width: 1200px){
			font-size: 18px;
			line-height: 22px;
		}
		@media screen and (min-width: 1600px){
			font-size: 24px;
			line-height: 29px;
		}
		@media screen and (min-width: 1920px){
			font-size: 29px;
			line-height: 35px;
		}
	}

	h4 {
		font-weight: 700;
		font-size: 14px;
		line-height: 30px;
		color: #FFFFFF;
		margin-bottom: 5px;
		@media screen and (min-width: 768px){
			font-size: 20px;
			text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
		}
	}

	p {
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
		@media screen and (min-width: 768px){
			font-size: 16px;
			text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
		}
		@media screen and (min-width: 1024px){
			font-size: 20px;
			line-height: 30px;
		}
		@media screen and (min-width: 1200px){
			font-size: 15px;
			line-height: 22px;
		}
		@media screen and (min-width: 1600px){
			font-size: 20px;
			line-height: 30px;
		}
	}

	.typography-wrap {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 768px) {
			flex-wrap: wrap;
			flex-direction: row;
		}

		p {
			position: relative;
			padding-left: 30px;
			margin: 0 0 23px;
			font-size: 16px;
			width: 100%;
			@media screen and (min-width: 1024px) {
				width: 34%;
				margin: 0 26px 18px 0;
			}
			@media screen and (min-width: 1200px) {
				width: 48%;
				margin: 0 26px 18px 0;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:before {
				content: '';
				position: absolute;
				top: 2px;
				left: 0;
				width: 18px;
				height: 17px;
				@include bg-img-center;
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.3077 4.96037C17.2962 4.94884 17.2846 4.9373 17.2731 4.91999C17.4115 4.56234 17.4635 3.89896 17.1115 2.66448C16.6327 0.997361 11.7923 -0.439015 9.61731 0.114768C8.72885 0.339743 8.31346 0.899295 8.48077 1.65498C8.52692 1.85111 8.53846 2.08185 8.52692 2.34144C8.07115 2.23761 7.26346 2.13954 6.6 2.5318C6.06923 2.84331 5.74615 3.39132 5.63077 4.15854L5.60769 4.2393L5.63654 4.31429C6.79038 7.19281 4.68462 9.71945 4.51731 9.90981C3.21923 11.2943 1.8 12.5461 0.265385 13.2671L0 13.394L0.132692 13.6594C1.21154 15.8226 2.89038 16.9475 5.11154 16.9994C5.16923 16.9994 5.22115 16.9994 5.27885 16.9994C9.94038 16.9994 15.525 12.3326 17.3712 9.05606C18.4615 7.11782 17.9365 5.76221 17.3077 4.96037ZM8.93654 3.39132C8.97692 3.21826 9.01154 3.05097 9.04038 2.88945C9.12692 2.36451 9.12692 1.9088 9.04038 1.53384C8.97692 1.23964 8.99423 0.870452 9.75577 0.680089C11.8038 0.160917 16.1885 1.54538 16.5577 2.83177C16.7885 3.64514 16.8173 4.14124 16.7942 4.43543C15.1788 3.01636 12.3288 2.49142 10.9846 2.87215C10.2115 3.09135 9.28269 4.14124 8.15769 5.543C8.49231 4.80462 8.76923 4.07201 8.93654 3.39132ZM6.88269 3.03367C7.40192 2.72217 8.09423 2.83177 8.44615 2.9183C8.42308 3.0279 8.4 3.1375 8.37692 3.25288C8.05385 4.59695 7.26923 6.16601 6.39231 7.52739C6.64038 6.55827 6.68654 5.40455 6.21346 4.17585C6.3 3.62783 6.525 3.24711 6.88269 3.03367ZM16.8692 8.77341C15.1154 11.8884 9.54231 16.5033 5.12885 16.4225C3.225 16.3764 1.76538 15.4476 0.784615 13.6594C2.28462 12.8922 3.66346 11.6692 4.92115 10.3309C5.13462 10.1175 5.35962 9.86943 5.58462 9.60408C6.42115 8.65226 7.2 7.67161 7.91538 6.77171C9.24808 5.09305 10.3962 3.63937 11.1462 3.42593C12.3519 3.07982 15.5192 3.6336 16.8577 5.32379C17.6135 6.28138 17.6192 7.44086 16.8692 8.77341Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='18' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
		}
	}
}