@keyframes left-animation {
	0%{
		transform: translate(-200px, 0);
		opacity: 0;
	}

	100%{
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes right-animation {
	0%{
		transform: translate(200px, 0);
		opacity: 0;
	}

	100%{
		transform: translate(0, 0);
		opacity: 1;
	}
}

.mov {
	@media screen and (max-width: 768px) {
		.left-anim {
			position: relative;
			opacity: 0;
			transform: translate(0, 200px);
			transition: all 1s ease;
		}

		.right-anim {
			position: relative;
			opacity: 0;
			transform: translate(0, 200px);
			transition: all 1s ease;
		}
	}
}

.anim {
	@media screen and (max-width: 768px) {
		.left-anim {
			opacity: 1;
			transform: translate(0, 0);
		}

		.right-anim {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}