html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat Alternates';

	&.overflow {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	
	&::placeholder {
		
	}
	&:focus {
		&::placeholder {
			
		}
	}
}
textarea {
	resize: vertical;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	
	&::placeholder {

	}
	&:focus {
		
		&::placeholder {
			
		}
	}
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

select {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

.wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	// background: #EC008C;

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 100vh;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(180deg, #62A4D8 0%, #EC008C 16.15%, #62A4D8 31.25%, #EC008C 46.35%, #62A4D8 61.46%, #EC008C 76.04%, #62A4D8 87.5%, #EC008C 100%);
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		width: 100%;
		height: 100vh;
		left: 0;
		right: 0;
		background-position: center;
		background-size: cover;
		background-image: url('../images/mob-bg.jpg'); 
	}
	
	@media screen and (min-width: 768px) {
		&:after,
		&:before {
			display: none;
		}
	}
	@media screen and (max-width: 1500px) {

	}
}

.container {
	max-width: 1650px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	@media screen and (min-width: 768px) {
		padding: 0 46px;
	}
	@media screen and (min-width: 1750px) {
		padding: 0 15px;
	}
}