.using {
	display: flex;

	@media screen and (min-width: 768px){
		align-items: center;
	}

	&__img {
		width: 39px;
		height: 39px;
		margin-right: 16px;
		flex: none;
		@media screen and (min-width: 768px){
			width: 127px;
			height: 127px;
			margin-right: 10px;
		}
		@media screen and (min-width: 1200px){
			width: 106px;
			height: 106px;
			margin-right: 15px;
		}
		@media screen and (min-width: 1600px){
			width: 170px;
			height: 170px;
		}
		@media screen and (min-width: 1920px){
			width: 200px;
			height: 200px;
			margin-right: 20px;
		}
		img {
			@include img-style;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		color: #FFFFFF;
		margin-bottom: 8px;
		@media screen and (min-width: 768px){
			font-size: 18px;
			line-height: 22px;
		}
		@media screen and (min-width: 1024px){
			font-size: 24px;
			line-height: 29px;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
		@media screen and (min-width: 1024px){
			font-size: 16px;
			line-height: 26px;
		}
		@media screen and (min-width: 1200px){
			font-size: 14px;
			line-height: 18px;
		}
		@media screen and (min-width: 1600px){
			font-size: 16px;
			line-height: 26px;
		}
	}
}