extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		#fullpage
			section.one-section.section(data-section="section1")
				.call-btn.js-footer-open
					span Зворотній зв’язок
				.container
					.typography.left-anim
						h2 Herpes Patch
						h3 Врода без жодних обмежень
						p Новий та самий ефективний спосіб для приховування симптомів герпесу та його лікування
						a(href="#").main-btn ДІЗНАТИСЯ БІЛЬШЕ

					.img-wrap.right-anim
						img(src="images/img-1.png", alt="")
				
			section.two-section.section(data-section="section2")
				.container
					.typography.left-anim
						h2 Що таке  Herpes Patch
						p Антигерпетичні патчі - це лікувальний прозорий клейкий пластир, що щільно фіксується на шкірі та механічно локалізує герпетичне ураження. Використовується на всіх етапах розвитку застуди на губах та в області носогубного трикутника. Підходить для всіх типів шкіри.
					.video-wrap.right-anim
						span.video-btn.js-video-open
						img(src="images/video.png", alt="")

					.accordion-wrap.right-anim
						.accordion
							.accordion__head
								.accordion__img
									img(src="images/img-4.svg", alt="")
								h3.accordion__name На 1 ФАЗІ загострення захворювання
								.accordion__btn.down
							.accordion__content
								p.accordion__text коли висип ще не утворився, але вже відчувається свербыж та поколювання, патч моментально позбавить від неприємних симптомів та зупинить подальший розвиток запалення.
						.accordion
							.accordion__head
								.accordion__img
									img(src="images/img-4.svg", alt="")
								h3.accordion__name НА 2 ФАЗІ розриву бульбашок
								.accordion__btn.down
							.accordion__content
								p.accordion__text коли висип ще не утворився, але вже відчувається свербыж та поколювання, патч моментально позбавить від неприємних симптомів та зупинить подальший розвиток запалення.
						.accordion
							.accordion__head
								.accordion__img
									img(src="images/img-4.svg", alt="")
								h3.accordion__name На 3 ФАЗІ формування жовтуватіх кірочок
								.accordion__btn.down
							.accordion__content
								p.accordion__text коли висип ще не утворився, але вже відчувається свербыж та поколювання, патч моментально позбавить від неприємних симптомів та зупинить подальший розвиток запалення.
						.accordion
							.accordion__head
								.accordion__img
									img(src="images/img-4.svg", alt="")
								h3.accordion__name На 4 ФАЗІ відшарування
								.accordion__btn.down
							.accordion__content
								p.accordion__text коли висип ще не утворився, але вже відчувається свербыж та поколювання, патч моментально позбавить від неприємних симптомів та зупинить подальший розвиток запалення.

			section.three-section.section(data-section="section3")
				.container
					.typography.left-anim
						h2 Спосіб застосування

					.using-wrap.right-anim
						.using
							.using__img
								img(src="images/img-2.png", alt="")
							.using__info
								span.using__name Розпакувати патч
								p.using__text Очистіть шкіру. Також від усіх косметичних засобів, щоб патч щільно зафіксувався на шкірі. Дістаньте патч чистими руками з упаковки та зніміть бумажну підкладку Master-Aid

						.using
							.using__img
								img(src="images/img-2.png", alt="")
							.using__info
								span.using__name Нанести на проблемну зону
								p.using__text Не торкаючись клейкої основи пальцями, нанесіть патч на зону ураження, притиснувши його щільно до шкіри та зніміть другу частину паперової підкладки. Для зручності використовуйте люстерко у футлярі. Коли патч почне відділятіся від шкіри неодмінно замініть його на новий, щоб не дати ранці “подихати”. Тому що це викличе зворотній ефект і уповільнить процес загоєння.

						.using
							.using__img
								img(src="images/img-2.png", alt="")
							.using__info
								span.using__name Сховати за допомогою косметики
								p.using__text Нанесіть макіяж поверх патчу, щоб зробити непомітними його та уражену ділянку. 

			section.four-section.section(data-section="section4")
				.container
					.typography.left-anim
						h2 Переваги  Herpes Patch
						p Невидимий антигерпетичний пластир захищає шкіру, зменшує дискомфорт, сприяє швидкому загоєнню. Складається з гідроколоїдної матриці на поліуретанової підкладці, що має корисні характеристики для захисту і лікування герпесу. Підтримує «контрольований» рівень вологості рани, необхідний для її правильного загоєння.

					.img-wrap.right-anim
						img(src="images/img-4.png", alt="")

					.accordion-wrap.right-anim
						.accordion
							.accordion__head
								h3.accordion__name Безпечний  та лікуючий
								.accordion__btn.down
							.accordion__content
								p.accordion__text Містить екстракт календули зі заспокійливими властивостями, що заспокоюють та пом'якшують епітелій поверхні губ та зводить до мінімуму викликану герпесом біль. А також потужній антісептік, єфективний проті бактерій Gram + i Gram.
						.accordion
							.accordion__head
								h3.accordion__name Непомітний та  естетичний
								.accordion__btn.down
							.accordion__content
								p.accordion__text Містить екстракт календули зі заспокійливими властивостями, що заспокоюють та пом'якшують епітелій поверхні губ та зводить до мінімуму викликану герпесом біль. А також потужній антісептік, єфективний проті бактерій Gram + i Gram.
						.accordion
							.accordion__head
								h3.accordion__name Тривалий термін  використання
								.accordion__btn.down
							.accordion__content
								p.accordion__text Містить екстракт календули зі заспокійливими властивостями, що заспокоюють та пом'якшують епітелій поверхні губ та зводить до мінімуму викликану герпесом біль. А також потужній антісептік, єфективний проті бактерій Gram + i Gram.

			section.five-section.section(data-section="section5")
				.container
					.typography.left-anim
						h2 Естетика та  непомітність
						.typography-wrap.right-anim
							p Бездоганно маскує висип та є чудовою основою під make-up
							p Гіпоалергенний, загоюючий, не викликає подразнення
							p Запобігає прояву анестезуючих рубців
					.img-wrap.right-anim
						img(src="images/img-5.png", alt="")

			section.six-section.section(data-section="section6")
				.container
					.typography.left-anim
						h2 Сертифікати
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
					.certificates-wrap.right-anim
							
						.certificate
					
						.certificate
							
			section.seven-section.section(data-section="section7")
				.container
					.typography.left-anim
						h2 Замовлення  та доставка

						.typography-price
							div.priceForm
								.priceForm__wrap
									.priceForm__field
										span#total-price
										span.priceForm__currency ₴
										strong.skuBestPrice 600
									.priceForm__counter
										input#minus(type="button" value="-")
										input#quantity(type="number" value="1" name="quantity" readonly)
										input#plus(type="button" value="+")
									button.priceForm__btn.main-btn.js-open-click-modal Купити в один клік

						p Вартість доставки по Києву - 50 грн. При замовленні від трьох упаковок патчей - безкоштовно. Доставка Новою Поштою - за цінами сервісу доставки.

					.typography.right-anim
						h4 Для замовлення:
						p 1 натисніть на форму замовлення в один клік
						p 2 зателефонуйте нам за вказаними номерами телефонів
						p 3 надішліть повідомлення на один із месенджерів або на електронну адресу

			section.eight-section.section(data-section="section8")
				.container
					.typography.left-anim
						h2 Наші  партнери

					.partners-wrap.right-anim
						.partner
							img(src="images/partner.svg", alt="")
						.partner
							img(src="images/partner.svg", alt="")
						.partner
							img(src="images/partner.svg", alt="")
						.partner
							img(src="images/partner.svg", alt="")
			
			section.contact-ssection
				.container
					.mob-content
						ul.soc
							li.soc__item
								a(href="#").soc__icon.soc__icon_you
							li.soc__item
								a(href="#").soc__icon.soc__icon_inst
							li.soc__item
								a(href="#").soc__icon.soc__icon_fb
							li.soc__item
								a(href="#").soc__icon.soc__icon_whats
							li.soc__item
								a(href="#").soc__icon.soc__icon_tel
						.address-info
							a(href="mailto:Info@hp.com").mail Info@hp.com
							a(href="tel:+380948588694").tel +38 094 858 86 94
							p.address 03190, м. Київ, вул. Черняхівського, буд. 16/30, оф. 3
			
	.video.js-video
		span.video-close.js-video-close
		iframe(src="https://www.youtube.com/embed/sG6aWhZnbfw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)#video

	.mask.js-mask

	.modal.modal__click.js-click-modal.js-modal
		.modal__layer.js-close-modal
		.modal__wrapper
			button.modal__close.js-close-modal
				svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
					circle(cx='20' cy='20' r='18.8462' stroke='white' stroke-width='2.30769')
					line(x1='12.3754' y1='12.4137' x2='28.2764' y2='28.3147' stroke='white' stroke-width='3.84615' stroke-linecap='round' stroke-linejoin='round')
					line(x1='28.2769' y1='13.0644' x2='12.3758' y2='28.9654' stroke='white' stroke-width='3.84615' stroke-linecap='round' stroke-linejoin='round')

			form(action="#")
				div.modal__click-wrapper
					h2 Купити в один клік
					input(type="text" placeholder="Ім’я").mainForm__input
					input(type="text" placeholder="Прізвище").mainForm__input
					input(type="text" placeholder="Телефон").mainForm__input
					input(type="text" placeholder="Адреса доставки").mainForm__input
					textarea(placeholder="Пояснення").mainForm__input.mainForm__textarea
					button(type="submit").mainForm__btn.main-btn ЗАМОВИТИ


	.modal.modal__click.js-thanks-modal.js-modal
		.modal__layer.js-close-modal
		.modal__wrapper
			button.modal__close.js-close-modal
				svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
					circle(cx='20' cy='20' r='18.8462' stroke='white' stroke-width='2.30769')
					line(x1='12.3754' y1='12.4137' x2='28.2764' y2='28.3147' stroke='white' stroke-width='3.84615' stroke-linecap='round' stroke-linejoin='round')
					line(x1='28.2769' y1='13.0644' x2='12.3758' y2='28.9654' stroke='white' stroke-width='3.84615' stroke-linecap='round' stroke-linejoin='round')
			div
				p Дякуємо 
					br
					| за замовлення!
					br
					br
				p Наш менеджер скоро
					br
					| з вами зв’яжеться
			

block footer
	include ../blocks/footer/footer