.priceForm {
	&__wrap {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@media screen and (min-width: 768px) {
			flex-wrap: nowrap;
		}
	}

	&__field {
		display: flex;
		align-items: center;
		margin-right: 30px;
		padding-left: 30px;
		position: relative;
		@media screen and (min-width: 768px) {
			padding-left: 68px;
			margin-right: 45px;
		}
		&:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 19px;
			top: calc(50% - 10px);
			left: 0;
			@include bg-img-center;
			background-image: url("data:image/svg+xml,%3Csvg width='56' height='55' viewBox='0 0 56 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M30.0004 41.8495C33.5687 39.8178 34.4885 34.8012 32.0548 30.6446C29.6212 26.488 24.7557 24.7653 21.1875 26.797C17.6192 28.8286 16.6994 33.8452 19.133 38.0018C21.5667 42.1585 26.4322 43.8811 30.0004 41.8495Z' fill='white'/%3E%3Cpath d='M55.8091 32.1768L55.791 32.1857L50.8172 23.6918L51.5978 22.9489C52.2331 22.4477 52.3511 21.5258 51.8519 20.9083L51.8337 20.9172L35.3423 0.537224C34.8431 -0.0803515 33.9083 -0.178806 33.2639 0.322415L0.562436 26.0458C-0.0728966 26.547 -0.190887 27.4689 0.308303 28.0865L9.42078 41.3688L16.9812 54.2842C17.3806 54.9734 18.2973 55.2061 19.0052 54.8033L55.2464 34.1637C55.9543 33.761 56.2085 32.8659 55.8091 32.1768ZM12.2707 28.5429L35.5602 15.2874C37.1757 18.0441 40.8243 18.975 43.6652 17.355L49.5375 27.3794C46.6876 28.9994 45.6892 32.5795 47.2957 35.3362L24.0153 48.5917C22.3997 45.835 18.7511 44.9042 15.9102 46.5242L10.038 36.4998C12.8788 34.8798 13.8863 31.2996 12.2707 28.5429ZM29.2704 7.1784C31.2853 9.6666 35.0337 10.0515 37.6023 8.02868L39.118 9.89931L22.4179 19.4135C20.53 19.0376 18.5333 19.3151 16.7997 20.6845C15.6652 21.5795 14.9754 22.6804 14.6033 23.8619L9.47524 26.7797C9.3754 25.6967 8.97605 24.6227 8.24088 23.7187L29.2704 7.1784Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='56' height='55' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			@media screen and (min-width: 768px) {
				width: 56px;
				height: 55px;
				top: calc(50% - 28px);
			}
		}

		// input {
		// 	font-weight: 700;
		// 	color: #FFFFFF;
		// 	text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
		// 	font-size: 30px;
		// 	width: 80px;
		// 	@media screen and (min-width: 768px) {
		// 		font-size: 74px;
		// 		width: 180px;
		// 	}
		// }

		span {
			color: #FFFFFF;
			text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
			font-size: 30px;
			@media screen and (min-width: 768px) {
				font-size: 74px;
				font-weight: 700;
			}
		}
	}

	&__counter {
		display: flex;
		align-items: center;
		margin-right: 30px;
		@media screen and (min-width: 768px) {
			margin-right: 45px;
		}
		@media screen and (max-width: 480px) {
			margin: 0 0 0 auto;
		}
		input {
			cursor: pointer;
			text-align: center;
			font-size: 18px;
			color: #FFFFFF;
			text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
			@media screen and (min-width: 768px) {
				font-size: 29px;
			}

			&:nth-child(2) {
				width: 50px;
			}
		}
	}

	&__btn {
		@media screen and (min-width: 1200px) {
			width: 149px;
			padding: 5px 20px;
		}
		@media screen and (min-width: 1600px) {
			width: auto;
			padding: 5px 20px;
		}

		@media screen and (max-width: 767px) {
			width: 192px;
			height: 39px;
			padding: 10px 0;
		}
		@media screen and (max-width: 520px) {
			margin-top: 20px;
		}
	}

	.skuBestPrice {
		display: none;
	}
}