header.header
	.container
		a(href="#").logo
			img(src="images/logo.svg", alt="")

		.lang-wrap
			a(href="#").lang RU
			span /
			a(href="#").lang.active UA

		nav.nav.js-nav
			ul.nav__list#menu
				li(data-menuanchor="2").nav__item
					a(data-section="2").nav__link Що таке патч
				li(data-menuanchor="3").nav__item
					a(data-section="3").nav__link Користування
				li(data-menuanchor="4").nav__item
					a(data-section="4").nav__link Переваги
				li(data-menuanchor="5").nav__item
					a(data-section="5").nav__link Естетика
				li(data-menuanchor="6").nav__item
					a(data-section="6").nav__link Cертифікати
				li(data-menuanchor="7").nav__item
					a(data-section="7").nav__link Замовити
				li(data-menuanchor="8").nav__item
					a(data-section="8").nav__link Партнери

			.mob-content
				ul.soc
					li.soc__item
						a(href="#").soc__icon.soc__icon_you
					li.soc__item
						a(href="#").soc__icon.soc__icon_inst
					li.soc__item
						a(href="#").soc__icon.soc__icon_fb
					li.soc__item
						a(href="#").soc__icon.soc__icon_whats
					li.soc__item
						a(href="#").soc__icon.soc__icon_tel
				.pay-wrap
					a(href="#").master
					a(href="#").visa
				.address-info
					a(href="mailto:Info@hp.com").mail Info@hp.com
					a(href="tel:+380948588694").tel +38 094 858 86 94
					p.address 03190, м. Київ, вул. Черняхівського, буд. 16/30, оф. 3

	include ../burger/burger