.footer {
	position: fixed;
	top: 0;
	left: -100%;
	background: linear-gradient(180deg, #8051A1 0%, #5A2B7C 100%);
	width: 100%;
	height: 100vh;
	z-index: 100;
	padding-top: 100px;
	transition: all .3s ease;

	&.active {
		left: 0;
		transition: all .3s ease;
	}

	@media screen and (min-width: 768px){
		top: auto;
		left: auto;
		height: auto;
		bottom: 32px;
		left: 50%;
		transform: translateX(-50%);
		background: transparent;
		padding-top: 0;
		z-index: 10;
	}

	@media screen and (min-width: 1024px){
		bottom: 20px;
	}

	@media screen and (min-width: 1600px){
		bottom: 48px;
	}
	@media screen and (min-width: 1750px){
		left: calc(50% + 55px);
	}

	.container {
		max-width: 1760px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		@media screen and (min-width: 768px){
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
		@media screen and (min-width: 1600px){
			align-items: flex-start;
		}
		@media screen and (min-width: 1750px){
			padding-right: 55px;
		}
		@media screen and (min-width: 2000px){
			padding-right: 15px;
		}
	}
	
	&.footer404 {
		left: 50%;
	}

	.footer-close {
		position: absolute;
		top: 20px;
		left: calc(50% - 20px);
		z-index: 11;
		width: 40px;
		height: 40px;
		cursor: pointer;
		@include bg-img-center;
		background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='18.8462' stroke='white' stroke-width='2.30769'/%3E%3Cline x1='12.3754' y1='12.4136' x2='28.2764' y2='28.3146' stroke='white' stroke-width='3.84615' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='28.2769' y1='13.0644' x2='12.3758' y2='28.9654' stroke='white' stroke-width='3.84615' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		@media screen and (min-width: 768px){
			display: none;
		}
	}
}

.pay-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	@media screen and (min-width: 768px){
		justify-content: flex-start;
		margin-top: 0;
	}

	.visa {
		width: 89px;
		height: 28px;
		background-image: url("data:image/svg+xml,%3Csvg width='89' height='28' viewBox='0 0 89 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.787 0.481375L22.1264 27.5587H14.5449L8.81759 5.97708C8.48796 4.65329 8.15833 4.17192 7.12824 3.61032C5.35648 2.68768 2.51343 1.80516 0 1.28367L0.164815 0.481375H12.4023C13.9681 0.481375 15.369 1.48424 15.6986 3.24928L18.7477 18.894L26.2468 0.481375H33.787ZM63.5773 18.7335C63.6185 11.5931 53.4412 11.192 53.4824 8.02292C53.5236 7.06017 54.4713 6.01719 56.5315 5.73639C57.5616 5.61605 60.4046 5.4957 63.6185 6.93983L64.8958 1.20344C63.1653 0.601719 60.9403 0 58.1796 0C51.0514 0 46.0657 3.69054 46.0245 8.94556C45.9833 12.8367 49.6093 15.0029 52.3287 16.3266C55.1306 17.6504 56.0782 18.4928 56.0782 19.6963C56.037 21.5014 53.8532 22.3037 51.7931 22.3438C48.1671 22.384 46.0657 21.3811 44.4176 20.6189L43.0991 26.5559C44.7884 27.318 47.8787 27.9599 51.0926 28C58.6329 28 63.5361 24.3496 63.5773 18.7335ZM82.3662 27.5587H89L83.1903 0.481375H77.0509C75.65 0.481375 74.4963 1.24355 74.0019 2.44699L63.2065 27.5186H70.7468L72.2301 23.467H81.4597L82.3662 27.5587ZM74.3315 17.9713L78.1222 7.82235L80.306 17.9713H74.3315ZM44.0468 0.481375L38.1134 27.5587H30.944L36.8773 0.481375H44.0468Z' fill='white'/%3E%3C/svg%3E%0A");
	}

	.master {
		width: 52px;
		height: 31px;
		margin-right: 18px;
		background-image: url("data:image/svg+xml,%3Csvg width='52' height='31' viewBox='0 0 52 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.5287 15.5298C23.7063 14.8144 24.1503 14.4865 24.7718 14.4865C25.3933 14.4865 25.5709 14.9635 25.4525 15.5298H23.5287ZM12.667 16.5731C12.4007 16.5433 11.8384 16.3644 11.3352 16.7221C10.8321 17.05 10.7137 17.676 11.2168 17.8548C11.72 18.0337 12.4599 17.7058 12.5487 17.199L12.667 16.5731ZM48.0341 16.3942C48.1821 15.8875 48.0933 15.2317 47.9454 14.9933C47.4718 14.3673 46.3768 14.874 46.0512 16.126C45.8441 16.9606 46.3176 17.5567 46.8503 17.5567C47.4126 17.5567 47.7678 17.1096 48.0341 16.3942ZM38.889 16.5731C38.6227 16.5433 38.0603 16.3644 37.5572 16.7221C37.0541 17.05 36.9357 17.676 37.4388 17.8548C37.9419 18.0337 38.6818 17.7058 38.7706 17.199L38.889 16.5731ZM52 15.5C52 24.0548 45.1042 31 36.6101 31C32.9106 31 29.5663 29.6885 26.9027 27.5125C28.9152 25.5452 30.4838 23.0712 31.2829 20.299H30.0102C29.2112 22.7731 27.7906 24.949 25.9556 26.7077C24.1799 24.9788 22.7888 22.8029 21.9898 20.3288H20.7171C21.5458 23.101 23.0552 25.575 25.0677 27.5125C22.4041 29.6885 19.0598 31 15.3899 31C6.89584 31 0 24.0548 0 15.5C0 6.94519 6.89584 0 15.3899 0C19.0598 0 22.4041 1.34135 25.0381 3.4875C23.0256 5.45481 21.5162 7.92885 20.6875 10.6712H21.9602C22.7592 8.19711 24.1503 6.02115 25.9852 4.2625C27.8201 6.02115 29.2112 8.19711 30.0398 10.6712H31.3125C30.4838 7.89904 28.9448 5.425 26.9323 3.45769C29.5663 1.31154 32.9402 0 36.6101 0C45.1338 0 52 6.94519 52 15.5ZM8.58281 19.1365L9.88503 12.2212H7.33978L5.44565 16.424L5.14969 12.2212H2.66363L1.33182 19.1365H2.8708L3.84747 14.1288L4.26181 19.1365H5.7416L7.90211 14.2481L6.98463 19.1365H8.58281ZM13.8805 19.1365L14.502 16.0365C14.65 15.2615 14.9163 13.3837 12.3119 13.3837C11.8384 13.4135 11.3056 13.3837 10.2994 13.5923L10.0626 14.8144C10.4474 14.7846 11.4536 14.6058 11.9863 14.6356C12.5191 14.6654 13.111 14.576 12.9334 15.4404C12.5487 15.4702 9.76665 15.0529 9.32271 17.4375C9.14513 18.6298 10.1514 19.226 10.9505 19.1663C11.7496 19.1365 11.9567 19.0173 12.2527 18.8385L12.4599 19.1663H13.8805V19.1365ZM18.2015 16.126C17.9055 15.9173 17.4024 15.649 17.0768 15.5C16.7513 15.351 16.5145 14.8144 17.1064 14.6654C17.4616 14.6356 18.2015 14.6356 18.6454 14.7548L19.0006 13.5923C18.2607 13.324 17.6983 13.3837 17.4616 13.3837C17.2544 13.3837 15.3899 13.3538 15.0939 14.7548C14.8867 15.8279 15.2715 16.2452 15.6266 16.424C16.2186 16.6923 16.5737 16.9308 16.8697 17.0798C17.2544 17.2885 17.1952 17.9442 16.6625 17.9442C16.4257 17.9442 15.3899 18.0635 14.6204 17.7952L14.4132 18.9875C15.1235 19.1962 15.7154 19.1962 16.2482 19.1962C16.6329 19.1962 18.4678 19.2856 18.7342 17.5865C18.8526 16.6923 18.4974 16.3048 18.2015 16.126ZM21.5162 17.7356C20.6283 17.8846 20.5692 17.4673 20.6579 17.05L21.1019 14.725H21.901L22.1673 13.4731H21.3386L21.6642 11.9529H20.1252L19.0598 17.4077C18.7638 18.9577 19.9476 19.1962 20.3028 19.1962C20.6579 19.1962 21.1315 19.1365 21.457 18.9279L21.5162 17.7356ZM23.44 16.5731H26.8139C26.9915 15.649 27.4058 13.3837 24.683 13.3837C22.1673 13.3837 21.8714 15.8875 21.8122 16.2452C21.753 16.6029 21.7234 19.1365 24.387 19.1365C25.0381 19.1663 25.9852 19.0769 26.3699 18.8683L26.6067 17.676C26.3699 17.7356 25.4821 17.825 24.8606 17.825C24.239 17.8548 23.2624 17.8846 23.44 16.5731ZM30.4542 14.9635L30.8389 13.4731C30.0694 13.4731 29.5959 13.7413 29.3591 14.0394L29.2112 13.4731H27.8793L26.8139 19.1663H28.4121L28.8856 16.5731C29.3295 14.8442 30.0694 14.9635 30.4542 14.9635ZM32.3187 15.4404C32.5259 14.0394 33.6801 13.5327 34.2129 13.5327C34.716 13.5327 35.012 13.5625 35.3967 13.801L36.403 12.8173C36.0182 12.3702 35.5447 11.9529 34.2721 11.8933C33.2066 11.8635 31.3717 12.6385 30.7797 14.7846C29.9806 17.7058 31.7268 19.1365 33.3546 19.1365C34.2129 19.1365 34.716 19.0173 35.2487 18.7788L34.8048 17.3779C33.177 17.9144 32.0524 17.1096 32.3187 15.4404ZM40.1024 19.1365L40.724 16.0067C40.8719 15.2317 41.1383 13.3538 38.5339 13.3538C38.0603 13.3837 37.5276 13.3538 36.5213 13.5625L36.2846 14.8144C36.6693 14.7846 37.6756 14.6058 38.2083 14.6356C38.741 14.6654 39.333 14.576 39.1554 15.4404C38.7706 15.4702 35.9886 15.0529 35.5447 17.4375C35.3671 18.6298 36.3734 19.226 37.1725 19.1663C37.9715 19.1365 38.1787 19.0173 38.4747 18.8385L38.6818 19.1663H40.1024V19.1365ZM44.3051 14.9038L44.7194 13.4135C43.9499 13.4135 43.4764 13.6817 43.2396 13.9798L43.0916 13.4135H41.7598L40.6944 19.1365H42.263L42.7365 16.5135C43.21 14.7846 43.9203 14.9038 44.3051 14.9038ZM49.3068 19.1365L50.6682 11.8635H49.0404L48.6261 14.0692C48.3301 13.8606 48.1525 13.3837 47.4126 13.3837C46.5544 13.3837 45.2225 13.2346 44.4826 15.8279C43.9795 17.5567 44.9858 19.1365 46.1104 19.1365C46.6135 19.1067 47.1463 18.8981 47.4718 18.6894L47.679 19.1365H49.3068Z' fill='white'/%3E%3C/svg%3E%0A");
	}
}

.soc {
	display: flex;
	order: 2;
	padding-top: 40px;
	@media screen and (min-width: 768px){
		padding-top: 0;
		margin: 0 0 20px;
		order: 1;
	}
	@media screen and (min-width: 1600px){
		margin: 0 22px 28px 0;
	}

	&__item {
		margin: 0 14px;
		@media screen and (min-width: 768px){
			margin: 0 28px 0 0;
		}
	}

	&__icon {
		width: 20px;
		height: 20px;
		@include bg-img-center;

		&_you {
			width: 25px;
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 25 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8812 1.9317C22.8451 0.712263 20.9321 0.214844 17.2788 0.214844H7.72093C3.98398 0.214844 2.03861 0.744349 1.00639 2.04263C0.273002 2.96504 0 4.61516 0 7.75488V12.6749C0 17.6758 1.19407 20.2148 7.72093 20.2148H17.2789C20.447 20.2148 22.2026 19.7759 23.3383 18.6998C24.5031 17.5962 25 15.7944 25 12.6749V7.75488C25 5.03264 24.9221 3.15655 23.8812 1.9317ZM16.576 10.8941L10.554 14.0102C10.4194 14.0799 10.2721 14.1144 10.1251 14.1144C9.95861 14.1144 9.7925 14.0701 9.64537 13.9819C9.36833 13.8157 9.19917 13.5184 9.19917 13.1977V6.98556C9.19917 6.66544 9.36787 6.36841 9.64435 6.20212C9.92093 6.03582 10.2649 6.02446 10.5519 6.17205L16.5739 9.26804C16.8803 9.42554 17.0727 9.73869 17.0731 10.0804C17.0735 10.4223 16.8819 10.7359 16.576 10.8941Z' fill='white'/%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 25 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8812 1.9317C22.8451 0.712263 20.9321 0.214844 17.2788 0.214844H7.72093C3.98398 0.214844 2.03861 0.744349 1.00639 2.04263C0.273002 2.96504 0 4.61516 0 7.75488V12.6749C0 17.6758 1.19407 20.2148 7.72093 20.2148H17.2789C20.447 20.2148 22.2026 19.7759 23.3383 18.6998C24.5031 17.5962 25 15.7944 25 12.6749V7.75488C25 5.03264 24.9221 3.15655 23.8812 1.9317ZM16.576 10.8941L10.554 14.0102C10.4194 14.0799 10.2721 14.1144 10.1251 14.1144C9.95861 14.1144 9.7925 14.0701 9.64537 13.9819C9.36833 13.8157 9.19917 13.5184 9.19917 13.1977V6.98556C9.19917 6.66544 9.36787 6.36841 9.64435 6.20212C9.92093 6.03582 10.2649 6.02446 10.5519 6.17205L16.5739 9.26804C16.8803 9.42554 17.0727 9.73869 17.0731 10.0804C17.0735 10.4223 16.8819 10.7359 16.576 10.8941Z' fill='%2362A4D8'/%3E%3C/svg%3E%0A");
			}
		}

		&_inst {
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1927 0H6.0221C2.7015 0 0 2.7015 0 6.0221V14.1927C0 17.5133 2.7015 20.2148 6.0221 20.2148H14.1927C17.5133 20.2148 20.2148 17.5133 20.2148 14.1927V6.0221C20.2148 2.7015 17.5133 0 14.1927 0ZM10.1074 4.87919C7.22457 4.87919 4.87917 7.22459 4.87917 10.1074C4.87917 12.9903 7.22457 15.3357 10.1074 15.3357C12.9903 15.3357 15.3357 12.9903 15.3357 10.1074C15.3357 7.22455 12.9903 4.87919 10.1074 4.87919ZM10.1074 13.3021C8.34306 13.3021 6.91278 11.8718 6.91278 10.1075C6.91278 8.34309 8.3431 6.9128 10.1074 6.9128C11.8718 6.9128 13.3021 8.34309 13.3021 10.1075C13.3021 11.8718 11.8718 13.3021 10.1074 13.3021ZM16.5986 4.91842C16.5986 5.61032 16.0377 6.17122 15.3458 6.17122C14.6539 6.17122 14.093 5.61032 14.093 4.91842C14.093 4.22651 14.6539 3.66562 15.3458 3.66562C16.0377 3.66562 16.5986 4.22651 16.5986 4.91842Z' fill='white'/%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1927 0H6.0221C2.7015 0 0 2.7015 0 6.0221V14.1927C0 17.5133 2.7015 20.2148 6.0221 20.2148H14.1927C17.5133 20.2148 20.2148 17.5133 20.2148 14.1927V6.0221C20.2148 2.7015 17.5133 0 14.1927 0ZM10.1074 4.87919C7.22457 4.87919 4.87917 7.22459 4.87917 10.1074C4.87917 12.9903 7.22457 15.3357 10.1074 15.3357C12.9903 15.3357 15.3357 12.9903 15.3357 10.1074C15.3357 7.22455 12.9903 4.87919 10.1074 4.87919ZM10.1074 13.3021C8.34306 13.3021 6.91278 11.8718 6.91278 10.1075C6.91278 8.34309 8.3431 6.9128 10.1074 6.9128C11.8718 6.9128 13.3021 8.34309 13.3021 10.1075C13.3021 11.8718 11.8718 13.3021 10.1074 13.3021ZM16.5986 4.91842C16.5986 5.61032 16.0377 6.17122 15.3458 6.17122C14.6539 6.17122 14.093 5.61032 14.093 4.91842C14.093 4.22651 14.6539 3.66562 15.3458 3.66562C16.0377 3.66562 16.5986 4.22651 16.5986 4.91842Z' fill='%2362A4D8'/%3E%3C/svg%3E%0A");
			}
		}

		&_fb {
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.3049 0.214844H2.69506C1.20665 0.214844 0 1.42144 0 2.90989V17.5197C0 19.0081 1.2066 20.2148 2.69506 20.2148H9.90057L9.91286 13.0678H8.05607C7.81479 13.0678 7.61893 12.8728 7.618 12.6314L7.60907 10.3277C7.60814 10.0851 7.80457 9.88792 8.04721 9.88792H9.90064V7.66192C9.90064 5.07869 11.4783 3.67209 13.7827 3.67209H15.6737C15.9156 3.67209 16.1119 3.86823 16.1119 4.11022V6.05274C16.1119 6.29462 15.9158 6.49072 15.6739 6.49086L14.5135 6.4914C13.2603 6.4914 13.0176 7.08692 13.0176 7.96084V9.88799H15.7714C16.0338 9.88799 16.2374 10.1171 16.2064 10.3777L15.9334 12.6814C15.9072 12.9018 15.7203 13.068 15.4983 13.068H13.0299L13.0176 20.2148H17.305C18.7934 20.2148 20 19.0083 20 17.5198V2.90989C19.9999 1.42144 18.7934 0.214844 17.3049 0.214844Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.214844)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.3049 0.214844H2.69506C1.20665 0.214844 0 1.42144 0 2.90989V17.5197C0 19.0081 1.2066 20.2148 2.69506 20.2148H9.90057L9.91286 13.0678H8.05607C7.81479 13.0678 7.61893 12.8728 7.618 12.6314L7.60907 10.3277C7.60814 10.0851 7.80457 9.88792 8.04721 9.88792H9.90064V7.66192C9.90064 5.07869 11.4783 3.67209 13.7827 3.67209H15.6737C15.9156 3.67209 16.1119 3.86823 16.1119 4.11022V6.05274C16.1119 6.29462 15.9158 6.49072 15.6739 6.49086L14.5135 6.4914C13.2603 6.4914 13.0176 7.08692 13.0176 7.96084V9.88799H15.7714C16.0338 9.88799 16.2374 10.1171 16.2064 10.3777L15.9334 12.6814C15.9072 12.9018 15.7203 13.068 15.4983 13.068H13.0299L13.0176 20.2148H17.305C18.7934 20.2148 20 19.0083 20 17.5198V2.90989C19.9999 1.42144 18.7934 0.214844 17.3049 0.214844Z' fill='%2362A4D8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='%2362A4D8' transform='translate(0 0.214844)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
		}

		&_whats {
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7981 11.4922C14.7591 11.4733 13.3013 10.7551 13.0422 10.6623C12.9364 10.624 12.8234 10.587 12.7026 10.587C12.5058 10.587 12.3403 10.685 12.2117 10.8779C12.0662 11.0941 11.6253 11.6097 11.489 11.7636C11.4714 11.7837 11.4468 11.8084 11.4325 11.8084C11.4195 11.8084 11.1935 11.7155 11.1253 11.6857C9.56104 11.0064 8.37403 9.37268 8.21104 9.0967C8.18767 9.05709 8.18702 9.03891 8.18637 9.03891C8.19221 9.01813 8.24481 8.96554 8.27208 8.93826C8.3513 8.85969 8.43767 8.75645 8.52078 8.6558C8.56039 8.60839 8.59935 8.56099 8.63832 8.51619C8.75909 8.37593 8.81299 8.26684 8.87533 8.14021L8.9078 8.07463C9.05974 7.77203 8.92987 7.51684 8.88832 7.43437C8.8539 7.36554 8.23832 5.87983 8.17273 5.72333C8.01559 5.34671 7.80715 5.17139 7.51819 5.17139C7.49156 5.17139 7.51819 5.17139 7.40585 5.17593C7.26884 5.18178 6.52338 5.27983 6.19351 5.48762C5.84351 5.70775 5.25195 6.411 5.25195 7.64671C5.25195 8.75904 5.9578 9.80904 6.26104 10.2084C6.26884 10.2181 6.28247 10.2389 6.3026 10.2681C7.46299 11.9629 8.90974 13.2194 10.3766 13.8051C11.7883 14.3694 12.4571 14.4344 12.8377 14.4344C12.9974 14.4344 13.1253 14.422 13.2383 14.411L13.3097 14.4045C13.7974 14.361 14.8695 13.8058 15.113 13.1285C15.3052 12.5947 15.3558 12.0116 15.2279 11.7999C15.1403 11.6564 14.989 11.5837 14.7981 11.4922Z' fill='white'/%3E%3Cpath d='M10.1772 0C4.761 0 0.353854 4.37338 0.353854 9.74935C0.353854 11.4883 0.819439 13.1903 1.70061 14.6799L0.0135944 19.6571C-0.0175744 19.75 0.00580221 19.8526 0.073984 19.9221C0.123335 19.9727 0.190867 20 0.259698 20C0.286322 20 0.312296 19.9961 0.33827 19.9877L5.52788 18.3383C6.94801 19.0968 8.55321 19.4974 10.1772 19.4974C15.5935 19.4974 19.9993 15.124 19.9993 9.7487C20 4.37338 15.5935 0 10.1772 0ZM10.1772 17.4669C8.64866 17.4669 7.16814 17.0253 5.89541 16.1903C5.85256 16.1623 5.80321 16.1481 5.75321 16.1481C5.72658 16.1481 5.69996 16.1519 5.67463 16.1604L3.07528 16.987L3.91424 14.511C3.94152 14.4312 3.92788 14.3422 3.87788 14.274C2.90905 12.95 2.39671 11.3851 2.39671 9.74935C2.39671 5.49351 5.88697 2.03052 10.1779 2.03052C14.4675 2.03052 17.9578 5.49286 17.9578 9.74935C17.9578 14.0052 14.4675 17.4669 10.1772 17.4669Z' fill='white'/%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7981 11.4922C14.7591 11.4733 13.3013 10.7551 13.0422 10.6623C12.9364 10.624 12.8234 10.587 12.7026 10.587C12.5058 10.587 12.3403 10.685 12.2117 10.8779C12.0662 11.0941 11.6253 11.6097 11.489 11.7636C11.4714 11.7837 11.4468 11.8084 11.4325 11.8084C11.4195 11.8084 11.1935 11.7155 11.1253 11.6857C9.56104 11.0064 8.37403 9.37268 8.21104 9.0967C8.18767 9.05709 8.18702 9.03891 8.18637 9.03891C8.19221 9.01813 8.24481 8.96554 8.27208 8.93826C8.3513 8.85969 8.43767 8.75645 8.52078 8.6558C8.56039 8.60839 8.59935 8.56099 8.63832 8.51619C8.75909 8.37593 8.81299 8.26684 8.87533 8.14021L8.9078 8.07463C9.05974 7.77203 8.92987 7.51684 8.88832 7.43437C8.8539 7.36554 8.23832 5.87983 8.17273 5.72333C8.01559 5.34671 7.80715 5.17139 7.51819 5.17139C7.49156 5.17139 7.51819 5.17139 7.40585 5.17593C7.26884 5.18178 6.52338 5.27983 6.19351 5.48762C5.84351 5.70775 5.25195 6.411 5.25195 7.64671C5.25195 8.75904 5.9578 9.80904 6.26104 10.2084C6.26884 10.2181 6.28247 10.2389 6.3026 10.2681C7.46299 11.9629 8.90974 13.2194 10.3766 13.8051C11.7883 14.3694 12.4571 14.4344 12.8377 14.4344C12.9974 14.4344 13.1253 14.422 13.2383 14.411L13.3097 14.4045C13.7974 14.361 14.8695 13.8058 15.113 13.1285C15.3052 12.5947 15.3558 12.0116 15.2279 11.7999C15.1403 11.6564 14.989 11.5837 14.7981 11.4922Z' fill='%2362A4D8'/%3E%3Cpath d='M10.1772 0C4.761 0 0.353854 4.37338 0.353854 9.74935C0.353854 11.4883 0.819439 13.1903 1.70061 14.6799L0.0135944 19.6571C-0.0175744 19.75 0.00580221 19.8526 0.073984 19.9221C0.123335 19.9727 0.190867 20 0.259698 20C0.286322 20 0.312296 19.9961 0.33827 19.9877L5.52788 18.3383C6.94801 19.0968 8.55321 19.4974 10.1772 19.4974C15.5935 19.4974 19.9993 15.124 19.9993 9.7487C20 4.37338 15.5935 0 10.1772 0ZM10.1772 17.4669C8.64866 17.4669 7.16814 17.0253 5.89541 16.1903C5.85256 16.1623 5.80321 16.1481 5.75321 16.1481C5.72658 16.1481 5.69996 16.1519 5.67463 16.1604L3.07528 16.987L3.91424 14.511C3.94152 14.4312 3.92788 14.3422 3.87788 14.274C2.90905 12.95 2.39671 11.3851 2.39671 9.74935C2.39671 5.49351 5.88697 2.03052 10.1779 2.03052C14.4675 2.03052 17.9578 5.49286 17.9578 9.74935C17.9578 14.0052 14.4675 17.4669 10.1772 17.4669Z' fill='%2362A4D8'/%3E%3C/svg%3E%0A");
			}
		}

		&_tel {
			background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.0004 0.791667L16.2929 17.0842C16.2612 17.29 16.1345 17.4483 15.9604 17.5592C15.8654 17.6067 15.7545 17.6383 15.6279 17.6383C15.5487 17.6383 15.4537 17.6225 15.3745 17.5908L10.5612 15.6275L7.99619 18.7625C7.85369 18.9208 7.66368 19 7.47368 19C7.39452 19 7.31535 18.9842 7.23619 18.9525C6.96702 18.8575 6.79285 18.6042 6.79285 18.3192V14.63L15.9604 3.40417L4.62368 13.2208L0.427851 11.4792C0.174518 11.3842 0.0161845 11.1625 0.000351142 10.9092C-0.0154822 10.6558 0.111184 10.4183 0.332851 10.2758L17.987 0.095C18.0979 0.0316667 18.2087 0 18.3354 0C18.4779 0 18.6045 0.0475 18.7154 0.110833C18.937 0.269167 19.032 0.5225 19.0004 0.791667Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.0004 0.791667L16.2929 17.0842C16.2612 17.29 16.1345 17.4483 15.9604 17.5592C15.8654 17.6067 15.7545 17.6383 15.6279 17.6383C15.5487 17.6383 15.4537 17.6225 15.3745 17.5908L10.5612 15.6275L7.99619 18.7625C7.85369 18.9208 7.66368 19 7.47368 19C7.39452 19 7.31535 18.9842 7.23619 18.9525C6.96702 18.8575 6.79285 18.6042 6.79285 18.3192V14.63L15.9604 3.40417L4.62368 13.2208L0.427851 11.4792C0.174518 11.3842 0.0161845 11.1625 0.000351142 10.9092C-0.0154822 10.6558 0.111184 10.4183 0.332851 10.2758L17.987 0.095C18.0979 0.0316667 18.2087 0 18.3354 0C18.4779 0 18.6045 0.0475 18.7154 0.110833C18.937 0.269167 19.032 0.5225 19.0004 0.791667Z' fill='%2362A4D8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='19' height='19' fill='%2362A4D8'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
		}
	}
}

.address-info {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	// width: 160px;
	order: 1;
	@media screen and (min-width: 768px){
		width: 160px;
		margin-top: 0;
		// position: absolute;
		// left: 46px;
		// bottom: 0;
	}

	&.desk-none {
		display: none;
		@media screen and (min-width: 1600px){
			display: flex;
			flex-direction: column;
		}
	}

	@media screen and (min-width: 1600px){
		flex: none;
		position: relative;
		margin-right: auto;
		left: auto;
		bottom: auto;
	}

	a {
		white-space: nowrap;
		padding-bottom: 4px;
		text-align: center;
		@media screen and (min-width: 768px){
			text-align: left;
		}
		&:hover {
			color: #62A4D8;
		}
	}

	p {
		width: 195px;
		text-align: center;
		@media screen and (min-width: 768px){
			text-align: right;
			width: 100%;
		}
		@media screen and (min-width: 768px){
			text-align: left;
		}
	}

	a, p {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.1em;
		color: #FFFFFF;
	}

	.address_small {
		font-size: 12px;
		margin-top: 5px;
	}
}

.form-wrap {
	order: 3;
	@media screen and (min-width: 768px){
		margin-left: auto;
	}
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	width: 100%;
	height: 100vh;
	background-color: #a58861;
	display: none;
	&.active {
		display: block;
	}
}

