footer.footer.js-footer
	.container
		span.footer-close.js-footer-close
		.soc-box
			ul.soc
				li.soc__item
					a(href="#").soc__icon.soc__icon_you
				li.soc__item
					a(href="#").soc__icon.soc__icon_inst
				li.soc__item
					a(href="#").soc__icon.soc__icon_fb
				li.soc__item
					a(href="#").soc__icon.soc__icon_whats
				li.soc__item
					a(href="#").soc__icon.soc__icon_tel
			.pay-wrap
				a(href="#").master
				a(href="#").visa

		.address-info.desk-none
			a(href="mailto:Info@hp.com").mail Info@hp.com
			a(href="tel:+380948588694").tel +38 094 858 86 94
			//- p.address 03190, м. Київ, вул. Черняхівського, буд. 16/30, оф. 3

		.address-info
			p.address Договір оферти
			p.address.address_small ©Linsi 2019. All rights reserved
		
		.form-wrap
			form(action="#" id="" name="").mainForm
				.mainForm__wrap
					span.mainForm__title Зворотній  зв’язок
					input(type="text" placeholder="Ім’я").mainForm__input
					input(type="text" placeholder="Телефон").mainForm__input
					button(type="submit").mainForm__btn.main-btn ЗАМОВИТИ
