.accordion {
	margin: 0 0 32px;
	@media screen and (min-width: 768px){
		margin: 0 0 15px;
	}
	@media screen and (min-width: 1024px) {
		margin: 0 0 30px;
	}
	@media screen and (min-width: 1600px){
		margin: 0 0 50px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&__head {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		cursor: pointer;
	}

	&__img {
		margin-right: 12px;
		@media screen and (min-width: 1600px){
			margin-right: 16px;
			padding-top: 4px;
		}
		img {
			width: 39px;
			height: 39px;
			@media screen and (min-width: 1200px){
				width: 32px;
				height: 32px;
			}
			@media screen and (min-width: 1600px){
				width: 59px;
				height: 59px;
			}
		}
	}

	&__name {
		width: 100%;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
		@media screen and (min-width: 768px){
			text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
		}
		@media screen and (min-width: 1024px){
			font-size: 24px;
			line-height: 29px;
		}
		@media screen and (min-width: 1200px){
			font-size: 18px;
			line-height: 22px;
			width: 260px;
		}
		@media screen and (min-width: 1920px){
			width: 340px;
			font-size: 24px;
			line-height: 29px;
		}
	}

	&__btn {
		width: 31px;
		height: 31px;
		margin-left: 10px;
		@media screen and (min-width: 768px){
			width: 42px;
			height: 42px;
		}
		@media screen and (min-width: 1024px){
			width: 52px;
			height: 52px;
		}
		@media screen and (min-width: 1200px){
			width: 42px;
			height: 42px;
		}
		@media screen and (min-width: 1600px){
			width: 52px;
			height: 52px;
		}
		@include bg-img-center

		&.down {
			background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 22L26.5 32L37 22' stroke='white' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='26' cy='26' r='24.5' transform='rotate(-180 26 26)' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
		}

		&.top {
			background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37 30L26.5 20L16 30' stroke='white' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='26' cy='26' r='24.5' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
		}
	}

	&__content {
		display: none;
	}

	&__text {
		width: 100%;
		font-size: 14px;
		line-height: 24px;
		color: #FFFFFF;
		padding-left: 3px;
		@media screen and (min-width: 768px){
			font-size: 16px;
			width: 92%;
			text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
		}
	}
}