.error-section {
	height: 100vh;
	background-image: linear-gradient(180deg, #62A4D8 0%, #EC008C 100%);
	
	.container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	@media screen and (min-width: 768px){

	}
	@media screen and (min-width: 1024px){
		
	}
	@media screen and (min-width: 1400px){
		width: 600px;
		height: 600px;
		border: 11px solid #FFFFFF;
		border-radius: 50%;
		box-shadow: 0px 0px 18px #FFFFFF;
	}
	@media screen and (min-width: 1600px){
		width: 668px;
		height: 668px;
	}

	&__number {
		width: 258px;
		height: 258px;
		padding: 64px 0;
		margin-bottom: 15px;
		border: 4px solid #FFFFFF;
		border-radius: 50%;
		box-shadow: 0px 0px 18px #FFFFFF;
		font-weight: 700;
		font-size: 105px;
		color: #FFFFFF;
		text-align: center;
		text-shadow: 0px 8.55346px 25.1572px rgba(0, 0, 0, 0.05);
		@media screen and (min-width: 1400px){
			padding: 0;
			font-size: 208px;
			width: auto;
			height: auto;
			box-shadow: none;
			border: none;
		}
	}

	&__name {
		font-size: 23px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #F2F2F2;
		margin-bottom: 6px;
		@media screen and (min-width: 1400px){
			font-size: 46px;
		}
	}

	&__text {
		width: 85%;
		text-align: center;
		font-size: 17px;
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.05em;
		color: #F2F2F2;
		@media screen and (min-width: 1400px){
			font-size: 34px;
		}
	}

	&__link {
		color: #F2F2F2;
		border-bottom: 1px solid #F2F2F2;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
}

@media screen and (min-width: 768px){

}
@media screen and (min-width: 1024px){

}
@media screen and (min-width: 1200px){

}
@media screen and (min-width: 1600px){

}