.section {
	width: 100%;
	height: auto !important;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@media screen and (min-width: 768px) {
		height: 100vh !important;
	}
	.fp-tableCell {
		height: auto !important;
		@media screen and (min-width: 768px) {
			height: 100vh !important;
		}
	}

	.container {
		@media screen and (min-width: 768px) {
			height: 100%;
			padding-top: 150px;
		}
		@media screen and (min-width: 1200px) {
			height: auto;
			padding-top: 0;
		}
	}

	&.active {
		@media screen and (min-width: 768px) {
			.left-anim {
				animation-name: left-animation;
				animation-duration: 1s;
				animation-fill-mode: forwards;
			}
			
			.right-anim {
				animation-name: right-animation;
				animation-duration: 1s;
				animation-fill-mode: forwards;
			}
		}
	}
}

.one-section {
	overflow: hidden;
	height: 100vh !important;
	@media screen and (min-width: 768px) {
		background-image: url('../images/bg-1.jpg');
	}
	.container {
		height: calc(100% - 45px);
		margin-top: -45px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (min-width: 768px) {
			align-items: flex-start;
			margin-top: 0;
			height: 100%;
		}
		@media screen and (min-width: 1200px) {
			align-items: center;
			justify-content: flex-start;
		}
	}

	.img-wrap {
		position: absolute;
		width: 107%;
		height: auto;
		bottom: -6%;
		right: -20%;
		@media screen and (min-width: 480px) {
			width: 92%;
		}
		@media screen and (min-width: 650px) {
			width: 82%;
		}
		@media screen and (min-width: 768px) {
			width: 100%;
			height: 80%;
			right: -30%;
			bottom: -11%;
		}
		@media screen and (min-width: 1200px) {
			width: 43%;
			height: 100%;
			position: relative;
			bottom: auto;
			right: auto;
		}
		@media screen and (min-width: 1600px) {
			width: 50%;
		}
		@media screen and (min-width: 1920px) {
			width: 55%;
		}
		
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.typography {
		position: relative;
		z-index: 10;
		height: 100%;
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 768px) {
			margin-top: 0;
			height: auto;
		}
		@media screen and (min-width: 1200px) {
			width: 45%;
		}
		@media screen and (min-width: 1600px) {
			width: 42%;
		}

		h2 {
			margin-bottom: 13px;
			@media screen and (min-width: 1200px) {
				margin-bottom: 16px;
			}
		}

		h3 {
			width: 65%;
			margin-bottom: 15px;
			@media screen and (min-width: 1200px) {
				margin-bottom: 36px;
				width: 90%;
			}
		}

		p {
			width: 59%;
			margin-bottom: 58px;
			@media screen and (min-width: 1200px) {
				width: 100%;
			}
		}

		.main-btn {
			@media screen and (max-width: 767px) {
				position: absolute;
				bottom: 90px;
				width: 137px;
				height: 43px;
				border-radius: 16px;
				z-index: 9;
				padding: 7px 0;

				&:after {
					border-radius: 16px;
				}
			}
		}
	}

	.call-btn {
		position: absolute;
		cursor: pointer;
		z-index: 9;
		left: 0;
		bottom: 0;
		padding: 12px 15px;
		width: 100%;
		height: 45px;
		background: linear-gradient(180deg, #8051A1 0%, #5A2B7C 100%);
		@media screen and (min-width: 767px) {
			display: none;
		}
		span {
			font-size: 18px;
			font-weight: 700;
			color: #FFFFFF;
			text-shadow: 0px 13.4754px 39.6336px rgba(0, 0, 0, 0.05);
		}

		&:after {
			content: '';
			position: absolute;
			top: 9px;
			right: 15px;
			width: 28px;
			height: 28px;
			@include bg-img-center;
			background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9229 16.1538L14.269 10.7692L8.61516 16.1538' stroke='white' stroke-width='2.69231' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='14' cy='14' r='13.1923' stroke='white' stroke-width='1.61538'/%3E%3C/svg%3E%0A");
		}
	}
}

.two-section {
	padding-top: 66px;

	@media screen and (min-width: 768px) {
		padding-top: 0;
		background-image: url('../images/bg-3.png');
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: 768px) {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;
			height: 100%;
		}
		@media screen and (min-width: 1200px) {
			flex-direction: row;
			align-items: center;
			height: 100%;
		}
	}

	.typography {
		margin-bottom: 15px;
		@media screen and (min-width: 768px) {
			width: 100%;
			margin-bottom: 25px;
		}
		@media screen and (min-width: 1024px) {
			margin-bottom: 50px;
		}
		@media screen and (min-width: 1200px) {
			width: 33.8%;
			margin: 0 20px 0 0;
		}
		@media screen and (min-width: 1920px) {
			width: 37%;
			margin: 0 20px 0 0;
		}
	}

	.video-wrap {
		width: 280px;
		height: 267px;
		position: relative;
		margin-bottom: 50px;

		@media screen and (min-width: 768px) {
			width: 40%;
			height: auto;
			margin: 0 10px 250px 0;
		}

		@media screen and (min-width: 1200px) {
			width: 30%;
			height: auto;
			margin: 0;
		}

		img {
			@include img-style;
		}

		.video-btn {
			width: 75px;
			height: 75px;
			position: absolute;
			top: 52%;
			left: 52%;
			transform: translate(-50%, -50%);
			cursor: pointer;
			z-index: 1;
			background-repeat: no-repeat;
			background-size: 95%;
			transition: all .3s ease;
			background-image: url("data:image/svg+xml,%3Csvg width='143' height='143' viewBox='0 0 143 143' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cg filter='url(%23filter0_d)'%3E%3Ccircle cx='71.6273' cy='71.298' r='61.7244' stroke='white' stroke-width='4.35702'/%3E%3C/g%3E%3Cpath d='M98.3141 70.3548C99.0403 70.7741 99.0403 71.8222 98.3141 72.2415L59.101 94.8812C58.3748 95.3005 57.4671 94.7764 57.4671 93.9379L57.4671 48.6584C57.4671 47.8199 58.3748 47.2958 59.101 47.7151L98.3141 70.3548Z' stroke='white' stroke-width='3.63085'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0.462667' y='0.133321' width='142.329' height='142.329' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3.63085'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='color-dodge' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
			@media screen and (min-width: 768px) {
				width: 88px;
				height: 88px;
			}
			@media screen and (min-width: 1200px) {
				width: 130px;
				height: 130px;
			}

			&:hover {
				transition: all .3s ease;
				background-image: url("data:image/svg+xml,%3Csvg width='196' height='196' viewBox='0 0 196 196' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cg filter='url(%23filter0_d)'%3E%3Ccircle cx='98' cy='98' r='85' stroke='white' stroke-width='6'/%3E%3C/g%3E%3Cpath d='M134.75 96.701C135.75 97.2783 135.75 98.7217 134.75 99.299L80.75 130.476C79.75 131.053 78.5 130.332 78.5 129.177L78.5 66.8231C78.5 65.6684 79.75 64.9467 80.75 65.524L134.75 96.701Z' fill='white' stroke='white' stroke-width='5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='196' height='196' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='color-dodge' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
			}
		}
	}

	.accordion-wrap {
		width: 100%;
		@media screen and (min-width: 768px) {
			width: 51%;
		}
		@media screen and (min-width: 1200px) {
			width: 32.5%;
			margin-left: 15px;
		}
		@media screen and (min-width: 1920px) {
			width: 30%;
			margin-left: 15px;
		}

		.accordion__btn {
			display: none;
			@media screen and (min-width: 768px) {
				display: block;
			}
		}

		.accordion__content {
			display: block;
			@media screen and (min-width: 768px) {
				display: none;
			}
		}
	}
}

.three-section {
	padding-top: 50px;

	@media screen and (min-width: 768px) {
		padding-top: 0;
		background-image: url('../images/bg-2.jpg');
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media screen and (min-width: 1200px) {
			flex-direction: row;
			align-items: center;
		}
	}

	.typography {
		@media screen and (min-width: 1200px) {
			width: 35%;
			margin-bottom: 75px;
		}
		@media screen and (min-width: 1920px) {
			width: 43%;
			margin-bottom: 110px;
		}

		h2 {
			margin-bottom: 30px;
		}
	}

	.using-wrap {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 1200px) {
			width: 64%;
		}
		@media screen and (min-width: 1920px) {
			width: 57%;
		}
	}

	.using {
		margin-bottom: 30px;
		@media screen and (min-width: 768px) {
			margin-bottom: 10px;
		}
		@media screen and (min-width: 1024px) {
			margin-bottom: 30px;
		}
		&:nth-child(1) {
			@media screen and (min-width: 1200px) {
				padding-right: 70px;
			}
		}
		&:nth-child(2) {
			@media screen and (min-width: 768px) {
				padding-left: 60px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 40px;
			}
		}
		&:nth-child(3) {
			margin-bottom: 0;
			@media screen and (min-width: 1200px) {
				margin-left: -10px;
				padding-right: 100px;
			}
		}
	}
}

.four-section {
	padding-top: 50px;
	@media screen and (min-width: 768px) {
		padding-top: 0;
		background-image: url('../images/bg-4.jpg');
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: 768px) {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
		}
		@media screen and (min-width: 1200px) {
			align-items: center;
			align-content: space-between;
		}
	}

	.typography {
		margin-bottom: 30px;
		@media screen and (min-width: 768px) {
			width: 100%;
			order: 1;
			margin-bottom: 5px;
		}
		@media screen and (min-width: 1200px) {
			width: 30%;
			margin: 0 auto 0 0;
		}
		@media screen and (min-width: 1920px) {
			width: 35%;
		}

		h2 {
			margin-bottom: 20px;
		}

		p {
			@media screen and (min-width: 1600px) {
				width: 88%;
			}
		}
	}
	
	.img-wrap {
		width: 282px;
		height: 282px;
		margin-bottom: 65px;
		@media screen and (min-width: 768px) {
			width: 60%;
			height: auto;
			order: 3;
			margin: -70px 0 0 0;
		}
		@media screen and (min-width: 1024px) {
			margin: -30px 0 0 0;
		}
		@media screen and (min-width: 1200px) {
			width: 34%;
			height: auto;
			margin: 0;
		}
		
		img {
			@include img-style;
		}
	}

	.accordion-wrap {
		width: 100%;
		@media screen and (min-width: 768px) {
			width: 35%;
			order: 2;
			margin: -70px 10px 0 0;
		}
		@media screen and (min-width: 1024px) {
			margin: -30px 10px 0 0;
		}
		@media screen and (min-width: 1200px) {
			width: 29%;
			margin: 0 0 0 auto;
			order: 4;
		}
		@media screen and (min-width: 1920px) {
			width: 27%;
		}

		.accordion {
			@media screen and (max-width: 767px) {
				margin-bottom: 20px;
			}

			&__name {
				font-size: 16px;
				line-height: 20px;
				@media screen and (min-width: 768px) {
					font-size: 18px;
					line-height: 22px;
				}
				@media screen and (min-width: 1600px) {
					font-size: 24px;
					line-height: 29px;
				}
			}
			&__text {
				@media screen and (min-width: 768px) {
					width: 100%;
				}
			}
		}
	}
}

.five-section {
	margin-top: 50px;
	background-image: url('../images/mob-letters.png');
	background-size: contain;
	background-position: bottom left;
	@media screen and (min-width: 768px) {
		margin-top: 0;
		background-size: cover;
		background-position: center;
		background-image: url('../images/bg-1.jpg');
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: 1200px) {
			justify-content: flex-start;
			flex-direction: row;
		}
	}

	.typography {
		width: 100%;
		margin: 0 0 30px;
		@media screen and (min-width: 1200px) {
			width: 43%;
			margin: 0 40px 0 0;
		}
		
		h2 {
			margin-bottom: 22px;
			@media screen and (min-width: 1024px) {
				margin-bottom: 55px;
			}
		}
	}

	.img-wrap {
		width: 251px;
		height: 251px;
		@media screen and (min-width: 768px) {
			width: 500px;
			height: 500px;
			margin-left: auto;
		}
		@media screen and (min-width: 1200px) {
			width: 40%;
			height: auto;
			margin: 0;
		}
		img {
			@include img-style;
		}
	}
}

.six-section {
	padding-top: 50px;
	
	@media screen and (min-width: 768px) {
		padding-top: 0;
		background-image: url('../images/bg-2.jpg');
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: 1200px) {
			flex-direction: row;
		}
	}

	.typography {
		margin-bottom: 40px;
		@media screen and (min-width: 768px) {
			width: 100%;
		}
		@media screen and (min-width: 1200px) {
			margin-bottom: 90px;
		}

		h2 {
			margin-bottom: 30px;
		}

		p {
			@media screen and (min-width: 1200px) {
				max-width: 522px;
				width: 100%;
			}
		}
	}

	.certificates-wrap {
		display: flex;
	}

	.certificate {
		width: 136px;
		height: 176px;
		background: #FFFFFF;
		box-shadow: 0px 4px 24px rgba(77, 77, 77, 0.4);
		border-radius: 21px;
		margin: 0 8px;
		overflow: hidden;
		@media screen and (min-width: 768px) {
			width: 245px;
			height: 317px;
			margin: 0 23px;
		}
		@media screen and (min-width: 1024px) {
			width: 368px;
			height: 475px;
			margin: 0 34px;
		}
		@media screen and (min-width: 1200px) {
			width: 238px;
			height: 307px;
			margin: 0 22px;
		}
		@media screen and (min-width: 1600px) {
			width: 368px;
			height: 475px;
			margin: 0 34px;
		}

		img {
			@include img-style;
		}
	}
}

.seven-section {
	padding-top: 50px;
	
	@media screen and (min-width: 768px) {
		padding-top: 0;
		background-image: url('../images/bg-7.jpg');
	}

	.container {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 1200px) {
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}
	}
	
	.typography {
		width: 100%;
		margin-bottom: 25px;
		@media screen and (min-width: 1200px) {
			width: 60%;
			margin: 0 50px 0 0;
		}
		@media screen and (min-width: 1600px) {
			width: 50%;
			margin: 0 200px 0 0;
		}
		&:nth-child(2) {
			width: 100%;
			@media screen and (min-width: 1200px) {
				width: 33%;
			}
			@media screen and (min-width: 1600px) {
				width: 33%;
				margin: 0 0 110px;
			}
			p {
				margin-bottom: 10px;
			}
		}
	}

	.typography-price {
		margin: 20px 0;
		@media screen and (min-width: 768px) {
			margin: 40px 0;
		}
	}
}

.eight-section {
	margin-top: 50px;
	background-image: url('../images/partner-bg.png');
	background-size: contain;
	background-position: bottom right;
	@media screen and (min-width: 768px) {
		margin-top: 0;
		background-size: cover;
		background-position: center;
		background-image: url('../images/bg-7.jpg');
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: 1200px) {
			flex-direction: row;
		}
	}

	.typography {
		width: 100%;
		margin-bottom: 40px;
		@media screen and (min-width: 768px) {
			margin-bottom: 110px;
		}
		@media screen and (min-width: 1200px) {
			width: 30%;
			margin-bottom: 160px;
		}
		@media screen and (min-width: 1920px) {
			width: 42%;
		}
	}

	.partners-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@media screen and (min-width: 1200px) {
			width: 57%;
		}
	}

	.partner {
		width: 169px;
		height: 70px;
		margin: 0 21px 42px;
		@media screen and (min-width: 768px) {
			width: 224px;
			height: 93px;
			margin: 0 50px 100px;
		}
		@media screen and (min-width: 1024px) {
			width: 287px;
			height: 119px;
		}
		@media screen and (min-width: 1200px) {
			width: 203px;
			height: 84px;
		}
		@media screen and (min-width: 1600px) {
			width: 245px;
			height: 101px;
		}
		img {
			@include img-style;
		}
	}
}

.contact-ssection {
	padding: 15px 0 40px;
	background: linear-gradient(180deg, #8051A1 0%, #5A2B7C 100%);
	@media screen and (min-width: 768px) {
		display: none;
	}
	.mob-content {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
}

.video {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 40vw;
	z-index: 40;

	iframe {
		width: 100%;
		height: 100%;
	}

	.video-close {
		position: fixed;
		top: -50px;
		right: -50px;
		z-index: 41;
		cursor: pointer;
		width: 52px;
		height: 52px;
		transition: all .3s ease;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Ccircle cx='36' cy='36' r='24.5' stroke='%23C4C4C4' stroke-width='3'/%3E%3C/g%3E%3Cline x1='26.0873' y1='26.1377' x2='46.7587' y2='46.8091' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='46.7588' y1='26.9838' x2='26.0874' y2='47.6551' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='72' height='72' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='color-dodge' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
		@media screen and (max-width: 768px) {
			width: 30px;
			height: 30px;
			top: -30px;
			right: -30px;
		}
		&:hover {
			transform: scale(1.1);
		}
	}
}
